.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4b949e1a-f454-4e33-8bb3-2ef6ff0173ce/d7sbxr5-da509264-15dc-42ee-9383-2c5a6f08b6e2.jpg/v1/fill/w_1024,h_709,q_75,strp/kurumi_tokisaki_wallpaper_by_yoshisouls-d7sbxr5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi80Yjk0OWUxYS1mNDU0LTRlMzMtOGJiMy0yZWY2ZmYwMTczY2UvZDdzYnhyNS1kYTUwOTI2NC0xNWRjLTQyZWUtOTM4My0yYzVhNmYwOGI2ZTIuanBnIiwid2lkdGgiOiI8PTEwMjQiLCJoZWlnaHQiOiI8PTcwOSJ9XV19.NDfGYevXUnQejdHB4OhjNRAc-g8CnH_lzGVN0OaYPAM);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fdate-a-live-tokisaki-kurumi-girl_6284_1500x1060.jpg&f=1&nofb=1&ipt=890f626a214e38a7f3a9ec640f7a0a43cdf7ef17bd552068de403754276caf39&ipo=images);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ti6PrZx-tQXnNZ3k_G6c8gHaEK%26pid%3DApi&f=1&ipt=4478228c699db8359da255232d6f48d924db624a8beccb57a0ee513c4856e18d&ipo=images);
}
